@page "/"

<PageTitle>DT191G</PageTitle>

<h1>Välkommen!</h1>

<p>Denna sida är en lösning till uppgift 1:2 i kursen Webbutveckling med .NET</p>
<p>Sidan är skapad med hjälp utav .NET WebAssembly.</p>