<nav class="nav">
    <ul>
        <li class="li-nav">
            <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink>
        </li>
        <li class="li-nav">
            <NavLink href="converter" Match="NavLinkMatch.All">Konverterare</NavLink>
        </li>
        <li class="li-nav">
            <NavLink href="JSON" Match="NavLinkMatch.All">JSON</NavLink>
        </li>
    </ul>
</nav>
